.about {
  background-color: $legend-plate;
  padding: 4.313rem 0 2.125rem 0;
  // background-image: url(../../assets/images/technologies.png);
  background-image: url(#{$base-url}/assets/images/technologies.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right 0 top 10%;

  &__title {
    font-size: 2.25rem;
    font-weight: 600;
    color: $orange;
    margin-bottom: 2.75rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 4.5rem;

    &-btn {
      display: none;
    }



    &-head {
      font-family: "Inter", sans-serif;
      font-size: 1.625rem;
      color: $cyan;
    }

    &-subtitle {
      font-size: 2.125rem;
      color: $white;
    }



    &-title {
      font-size: 3.5rem;
      line-height: 111%;
      color: $white;
    }

    &-text {
      font-size: 1.625rem;
      color: $mega-teal;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &-mobile-wrap {
      display: flex;
      flex-direction: row;
      gap: 6rem;
    }

    &-top {
      display: flex;
      flex-direction: row;
      gap: 7.188rem;
      margin-bottom: 4.188rem;
    }

    &-bottom {
      display: flex;
      flex-direction: row;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &-mobile {
        display: none;
      }


    }

    &-cost {
      display: flex;
      flex-direction: row;
      gap: 8em;
      margin-left: 9em;
    }

    &-title {
      font-family: "Inter", sans-serif;
      font-size: 1.625rem;
      color: $cyan;
    }

    &-subtitle {
      font-size: 1.625rem;
      color: $orange;
      align-self: center;

    }

    &-year {
      display: flex;
      flex-direction: row;
      gap: 1em;

      &-title {
        font-family: "Inter", sans-serif;
        font-size: 1.625rem;
        color: $cyan;
      }
    }

    &-price {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      &-old,
      &-oldest {
        font-size: 1.375rem;
        text-decoration: line-through;
        color: $white;
      }

      &-new {
        font-size: 1.625rem;
        color: $orange;
      }
    }
  }
}

@media (max-width: 460px) {
  .container {
    background-position: center top;
    background-size: contain;
  }

  .about {
    padding: 2rem 1rem 0 1rem;
    // background-image: url(../../assets/images/technologies.png);
     background-image: url(#{$base-url}/assets/images/technologies.png);
    background-size: contain;
    background-position: bottom 23% right 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__title {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 3.5rem;
      text-align: left;
      order: 1;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &__section {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      gap: 2.5rem;
      margin-bottom: 0.5rem;

      &-btn {
        position: absolute;
        display: inline;
        text-decoration: none;
        width: 45%;
        font-size: 1.3rem;
        padding: 0.7rem;
        text-align: center;
        line-height: 1.4;
        border-radius: 10rem;
        right: 0;
        top: 12rem;
         z-index: 10;
      }

      &-btn:hover {
        color: $white;
        background-color: $orange;
        border: 0.25rem solid  $white;
        z-index: 10;
      }




      &-head {
        font-size: 2rem;
        font-weight: 400;
        order: 1;
      }

      &-subtitle {
        font-size: 2.7rem;
        order: 1;
        margin-bottom: 2.5rem;
        width: 40rem;

      }


      &-title {
        font-size: 3rem;
        line-height: 1.2;
        order: 3;
        width: 39rem;
      }

      &-text {
        font-size: 2rem;
        line-height: 1.6;
        order: 0;
      }

      &-repeat {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin-bottom: 0.5rem;
      }

      &-second {
        margin-bottom: 32rem;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 0;

      &-mobile-wrap {
        gap: 1rem;
        align-items: center;
        align-self: center;

      }

      &-cost {
        order: 0;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        margin-left: 0;


      }

      &-top {
        position: relative;
        order: 1;
        display: flex;
        gap: 3rem;
        align-self: center;
        margin-bottom: 3rem;
      }

      &-bottom {
        order: 2;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-bottom: 0;
      }


      &-year {
        order: 3;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin-bottom: 0;
        padding: 0 1rem;
      }

      &-title,
      &-subtitle,
      &-year-title {
        font-size: 1.2rem;
        text-align: left;
      }

       &-title {
        text-align: center;
        align-self: center;
        justify-content: center;
       }

      &-subtitle {
        order: 1;
        align-self: flex-start;
      }

      &-price {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;

        &-old,
        &-oldest {
          font-size: 1.2rem;
        }

        &-new {
          font-size: 1.4rem;
        }
      }
    }
  }

  .about__info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-dekstop {
      display: none;
    }


  .about__info-subtitle {
    order: 1;
    align-self: center;
  }

  .about__info-title {
    order: -1;
    align-self: center;
  }

  .info__title {
    order: 0;
  }

}
}