.about {
  background-color: $legend-plate;
  padding: 4.313rem 0 2.125rem 0;
  // background-image: url(../../assets/images/technologies.png);
  background-image: url(#{$base-url}/assets/images/technologies.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right 0 top 10%;

  &__title {
    font-size: 2.25rem; 
    font-weight: 600;
    color: $orange;
    margin-bottom: 2.75rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 4.5rem;

    &-head {
      font-family: "Inter", sans-serif;
      font-size: 1.625rem; 
      color: $cyan;
    }

    &-subtitle {
      font-size: 2.125rem; 
      color: $white;
    }

    &-title {
      font-size: 3.5rem; 
      line-height: 111%;
      color: $white;
    }

    &-text {
      font-size: 1.625rem; 
      color: $mega-teal;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &-top {
      display: flex;
      flex-direction: row;
      gap: 7.188rem;
      margin-bottom: 4.188rem;
    }

    &-bottom {
      display: flex;
      flex-direction: row;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  
    }

    &-cost {
      display: flex;
      flex-direction: row;
      gap: 8em;
      margin-left: 9em;
    }

    &-title {
      font-family: "Inter", sans-serif;
      font-size: 1.625rem; 
      color: $cyan;
    }

    &-subtitle {
      font-size: 1.625rem; 
      color: $orange;
      align-self: center;
      
    }

    &-year {
      display: flex;
      flex-direction: row;
      gap: 1em;

      &-title {
        font-family: "Inter", sans-serif;
        font-size: 1.625rem; 
        color: $cyan;
      }
    }

    &-price {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    
      &-old, &-oldest {
        font-size: 1.375rem;
        text-decoration: line-through;
        color: $white;
      }
    
      &-new {
        font-size: 1.625rem;
        color: $orange;
      }
    }
  }
}

@media (max-width: 460px) {
  .container {
    background-position: center top;
    background-size: contain;
  }

  .about {
    padding: 2rem 1rem;
    // background-image: url(../../assets/images/technologies.png);
    background-image: url(#{$base-url}/assets/images/technologies.png);
    background-size: contain;
    background-position: bottom 30% right 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__title {
      font-size: 3rem;
      margin-bottom: 0.5rem;
      text-align: left;
      order: 1;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &__section {
      display: flex;
      flex-direction: column-reverse;
      gap: 1.2rem;
      margin-bottom: 0.5rem;

      
      &-head {
        font-size: 2.3rem;
        order: 1;
      }

      &-subtitle {
        font-size: 2.3rem;
        order: 1;
        margin-bottom: 2.5rem;
      }

      &-title {
        font-size: 3.8rem;
        line-height: 1.2;
        order: 3;
      }

      &-text {
        font-size: 2rem;
        line-height: 1.6;
        order: 0;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-cost {
        order: 0;
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        margin-left: 0;

      
      }

      &-top {
        position: relative;
        order: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 45rem;
      }

      &-bottom {
        order: 2;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-bottom: 2rem;
      }

      &-year {
        order: 3;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 2rem;
      }

      &-title,
      &-subtitle,
      &-year-title {
        font-size: 2rem;
        text-align: left;
      }

      &-subtitle {
        order: 1;
        align-self: flex-start;
      }

      &-price {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;

        &-old,
        &-oldest {
          font-size: 1.9rem;
        }

        &-new {
          font-size: 2.2rem;
        }
      }
    }
  }

  .about__info-item {
    display: flex;
    flex-direction: row;
  }

  .about__info-subtitle {
    order: 1;
  }

  .about__info-title {
    order: -1;
  }

  .info__title {
    order: 0;
    margin-right: 2rem;
  }

}
