.admission {
  background: linear-gradient(to bottom, $water-course, $water);
  padding-top: 5.188rem;


  &__title {
    color: $white;
    margin-bottom: 2.75rem;
  }

  &__list {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 3.140rem;
    padding-left: 5.5rem;

    &::before {
      position: absolute;
      content: "";
      background: url(#{$domen-url}/assets/icons/admission-vertical-line.svg) no-repeat;
      background-size: contain;
      left: 0;
      top: 0;
      width: 10rem;
      height: 89rem;

    }

    &-last {
      margin-top: 3.140rem;;
      display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5.5rem;
    }

  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.438rem;
    color: $white;


    &-title {
      font-size: 2rem;

    
    }

    &-paragraph {
      font-family: "Inter", sans-serif;
      font-size: 2.25rem;

       a {
        color: $white;
        text-decoration: none;
      }

    }

    &-bold {
      font-weight: 700;
      padding-bottom: 0.8rem;
      display: inline-block;
    }

    &-wrapper {
      padding: 0.938rem 2rem;
      border: 2px solid $white;
      border-top: none;
      border-radius: 1.875rem;
      width: 80%;
    }
  

  }
}

@media (max-width: 460px) {
  .admission {
    padding-top: 3rem;

    &__title {
      font-size: 2.7rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    &__list {
      padding-left: 3rem;
      gap: 1.5rem;

      &::before {
        width: 5rem;
      height: 66rem;
      left: -1rem;
      top: 0;
      }

      &-last {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        padding-left: 3rem;
      }
    }

    &__item {
      gap: 0.4rem;

      &-title {
        font-size: 2.3rem;
      }

      &-paragraph {
        font-size: 1.7rem;
      }

      &-wrapper {
        width: 100%;
        padding: 0.75rem 1.5rem;
        border-radius: 1rem;
      }
    }
  }
}
