.benefits {
  background-color: $white;
  padding-top: 4.688rem;
  color: $water-course; 


  &__block {
  padding: 2rem 0;
  font-size: 2.5rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 4px solid $orange;

  button {
    color: $water-course;
    background-color: $gray85;
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    width: 60px;
    height: 60px;
    align-items: center;
  }

  p {
    align-self: center;
  }
  }
}