.career {
  background: linear-gradient(to bottom, $legend-plate, $water-course);
  padding-top: 2.125rem;
  padding-bottom: 7.438rem;

  &__section {
    display: flex;
    justify-content: space-between;
    gap: 5.625rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.438rem;
    align-self: center;
    padding: 0 1rem;

    &-title {
      color: $water-course;
      padding: 4.625rem 2.188rem;
      font-size: 3rem;
      text-align: center;
    }

    &-button {
      @include btn($white, $swimmer, 1.875rem, $white, 1.75rem, 0.96875rem, 6.4375rem, 0.96875rem, 6.4375rem);
      white-space: nowrap;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;

    &-section {
      padding: 1.813rem 3.125rem 1.813rem 6.563rem;
    }

    &-title {
      font-size: 2.25rem;
      color: $orange;
      margin-bottom: 0.3rem;
    }

    &-paragraph {
      font-family: "Inter", sans-serif;
      font-size: 2.25rem;
      color: $black;
      margin-bottom: 2rem;
    }

    &-subtitle {
      font-family: "Inter", sans-serif;
      text-align: end;
      font-size: 1.875rem;
      font-weight: 600;
    }
  }
}

@media (max-width: 460px) {
  .career {
    padding: 7rem 0;
  }

  .career__section {
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }

  .career__content {
    gap: 2rem;
    padding: 0 1rem;
    align-items: flex-start;
  }

  .career__content-title {
    font-size: 2.6rem;
    padding: 1rem 6rem;
    text-align: center;
    line-height: 1.4;
  }

  .career__content-button {
    width: 100%;
    font-size: 2.7rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    white-space: normal;
  }

  .career__text {
    gap: 2rem;
    padding: 0 1rem;
  }

  .career__text-section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }

  .career__text-title {
    font-size: 3.2rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  .career__text-paragraph {
    font-size: 2.8rem;
    margin-bottom: 3rem;
    line-height: 1;
  }

  .career__text-subtitle {
    align-self: flex-end;
    font-size: 2.2rem;
    text-align: left;
  }
}
