.career {
  position: relative;
  background: linear-gradient(to bottom, $legend-plate, $water-course);
  padding-top: 2.125rem;
  padding-bottom: 7.438rem;

  &::before {
    position: absolute;
    content: '';
    background: url(../assets/icons/double-lines.svg) no-repeat;
    background-position: top left;
    background-size: contain;
    width: 27rem;
    height: 11rem;

  }

  &::after {
     position: absolute;
    content: '';
      background: url(../assets/icons/long-line.svg) no-repeat;
    background-position: bottom left;
    background-size: contain;
    width: 95rem;
    height: 5rem;

    @media (max-width: 860px) {
      width: 85rem;
    }

  }


  &__section {
    display: flex;
    justify-content: space-between;
    gap: 5.625rem;
     background: url(../assets/icons/bracket.svg) no-repeat;
    background-repeat: no-repeat;
    background-position: 27rem;
    background-size: contain;
  }


  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.438rem;
    align-self: center;
    

    &-title {
      color: $water-course;
      padding: 4.625rem 2.188rem;
      font-size: 3rem;
      text-align: center;
    }

    &-button {
      @include btn($white, $swimmer, 1.875rem, $white, 1.75rem, 0.96875rem, 6.4375rem, 0.96875rem, 6.4375rem);
      white-space: nowrap;
      font-family: inherit;
      text-decoration: none;
    }

   &-button:hover {
    color: $swimmer;
    background-color: $white;
    border: 0.25rem solid $swimmer;
   }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  

    &-section {
      padding: 1.813rem 3.125rem 1.813rem 6.563rem;
    }

    &-title {
      font-size: 2.25rem;
      color: $orange;
      margin-bottom: 0.3rem;
    }

    &-paragraph {
      font-family: "Inter", sans-serif;
      font-size: 2.25rem;
      color: $black;
      margin-bottom: 2rem;
    }

    &-subtitle {
      font-family: "Inter", sans-serif;
      text-align: end;
      font-size: 1.875rem;
      font-weight: 600;
    }
  }
}

@media (max-width: 460px) {
  .career {
    padding: 2rem 0 8rem 0;

      &::before {
      display: none;

  }

    &::after {
        background: url(../assets/icons/career-line.svg) no-repeat;
      background-position: bottom left;
      background-size: contain;
      bottom: 0;
      left: 0;
      width: 45rem;
      height: 5.8rem;
  }

  }


  .career__section {
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    background: none;
  }

  .career__content {
    gap: 2rem;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .career__content-title,
  .career__content-button {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
    line-height: 1.4;
    border-radius: 10rem;
  }

  .career__content-button:hover {
    color: #FFFFFF;
    background-color: #087BAB;
    border: 0.25rem solid #FFFFFF;
  }


  .career__text {
    gap: 1rem;
    padding: 0 1rem;
  }

  .career__text-section {
    display: flex;
    flex-direction: column;
    padding: 1.3rem 4.5rem;

  }

  .career__text-title {
    font-size: 1.7rem;
    text-align: left;
    margin-bottom: 0;
  }

  .career__text-paragraph {
    font-size: 1.7rem;
    margin-bottom: 3rem;
    line-height: 1;
  }

  .career__text-subtitle {
    align-self: flex-end;
    font-size: 1.5rem;
    text-align: left;
  }
}
