.education {
  position: relative;
  background: linear-gradient(to bottom, $water-course, $swimmer);
  padding-bottom: 7.438rem;

  &::before {
    content: "";
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 54%;
    height: 71%;
    // background-image: url(../../assets/icons/eduaction-line.svg);
    background-image: url(#{$base-url}/assets/icons/eduaction-line.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom, right bottom;
    z-index: 0;
  }



  &__container {
    padding: 6.25rem 2.563rem;
    margin-bottom: 2.813rem;

    &-title {
      margin-bottom: 0.5rem;
    }

    &-line {
      border-bottom: 0.25rem solid $water-course;
    }

    &-text {
      font-size: 2.625rem;
      color: $white;
      padding: 0 7rem;

      @media (max-width: 460px) {
        font-size: 3rem;
        padding: 0 2rem;
      }
    }

    &-info {
      margin-bottom: 4rem;
    }
  }

  &__text {
    padding-left: 4.063rem;
    padding-right: 9rem;

    @media (max-width: 460px) {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }

    &-section {
      display: flex;
      justify-content: space-between;

      @media (max-width: 460px) {
        flex-direction: column;
        gap: 1.5rem;
      }
    }

    p {
      font-size: 2.25rem;
      font-family: "Inter", sans-serif;
      margin: 3.5rem 0;

      @media (max-width: 460px) {
        font-size: 1.7rem;
        margin: 1.5rem 0;
      }
    }
  }


  @media (max-width: 460px) {
    .education {
    padding: 0 1rem 4rem 1rem;

    &__container {
     padding: 1.3rem 0rem;

      h2 {
        font-size: 1.7rem;
        padding-left: 1rem;
      padding-right: 1rem;
      text-align: center;
      }

      &-line {
      &:nth-last-child:last-child {
       border-bottom: none;
      }
      }
    }

    &__text {
      text-align: center;

    

      &-section {
        flex-direction: row;
        justify-content: space-between;
       
      }

     

      p {
        font-size: 1.7rem;
        margin: 0.7rem 0;
      }
    }
  }
}
}