.education {
  position: relative;
  background: linear-gradient(to bottom, $water-course, $swimmer);
  padding-bottom: 7.438rem;

  &::after {
    position: absolute;
    content: '';
    // background: url(../../assets/icons/education-long-line.svg) no-repeat;
      background: url(#{$base-url}/assets/icons/education-long-line.svg) no-repeat;
    background-size: contain;
    background-position: bottom left;
    width: 80rem;
    height: 6rem;

  }

  &__container {
    position: relative;
    padding: 6.25rem 2.563rem;
    margin-bottom: 5rem;

    &::after {
    position: absolute;
    content: '';
    // background: url(../../assets/icons/education-vertical-line.svg) no-repeat;
    background: url(#{$base-url}/assets/icons/education-vertical-line.svg) no-repeat;
    background-size: contain;
    background-position: bottom right;
    bottom: -25rem;
    right: -0.35rem;
    width: 5.5rem;
    height: 32rem;
    
    }

    &-title {
      margin-bottom: 0.5rem;
    }

    &-line {
      border-bottom: 0.25rem solid $water-course;
    }

    &-text {
      font-size: 2.625rem;
      color: $white;
      padding: 0 4.5rem;
      text-align: center;

      p {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 4rem;
      }
    }

    &-info {
      margin-bottom: 3rem;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  &__text {
    padding-left: 4.063rem;
    padding-right: 9rem;

    &-section {
      display: flex;
      justify-content: space-between;
    }

    p {
      font-size: 2.25rem;
      font-family: "Inter", sans-serif;
      margin: 3.5rem 0;
    }
  }
}

  @media (max-width: 460px) {
    .education {

      padding: 0 1rem 4rem 1rem;

        &::after {
          display: none;
        }
  
      &__container {
        padding: 1.3rem 0;

        &::after {
          display: none;
        }

        &-text {
          p {
            margin-bottom: 2rem;
            font-weight: 300;
          }
        }

        &-text-mobile {
          padding: 0;
        }
  
        h2 {
          font-size: 1.7rem;
          padding-left: 1rem;
          padding-right: 1rem;
          text-align: center;
        }
  
        &-line {
          &:nth-last-child(1) {
            border-bottom: none;
          }
        }
      }
  
      &__text {
        text-align: center;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
  
        &-section {
          flex-direction: row;
          gap: 1.5rem;
        }
  
        p {
          font-size: 1.7rem;
          margin: 1.5rem 0;
        }
      }
    }
    }
