.outlook {
padding-bottom: 2.938rem;
background-color: $white;

  h2 {
    margin-bottom: 2.5rem;
  }

  &__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &-wrapper {
      font-family: "Inter", sans-serif;
      font-size: 2.25rem;
      text-align: center;
      padding: 3rem;
      border: 4px solid $orange;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      background: $white;
      text-align: center;
      align-items: center;
    }
  }


}

