.partners {
  padding-bottom: 6.25rem;
  background-color: $white;

  h2 {
    margin-bottom: 2.5rem;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;


    img {
      width: 210px;
      height: auto;
      object-fit: contain;
    }
  }


}