.practice {
  padding-top: 5rem;
  background-color: $white;
  padding-bottom: 8.188rem;

  &__title {
    margin-bottom: 7.375rem;

    @media (max-width: 460px) {
      margin-bottom: 4rem;
      font-size: 3.7rem;
      text-align: center;
    }
  }

  &__list {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 1.063rem;
    color: $white;

    @media (max-width: 460px) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  &__item {
    padding: 3.125rem;
    border-radius: 30px;
    background: linear-gradient(to bottom, $legend-plate, $swimmer);

    @media (max-width: 460px) {
      padding: 6rem;
      width: 100%;
    }

    &-title {
      font-family: "Russo One", sans-serif;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 3rem;

      @media (max-width: 460px) {
        font-size: 3.3rem;
        margin-bottom: 2rem;
      }
    }

    p {
      font-family: "Inter", sans-serif;
      font-size: 1.875rem;

      @media (max-width: 460px) {
        font-size: 2.8rem;
      }
    }

    &-paragraph {
      font-weight: 600;

      @media (max-width: 460px) {
        font-size: 1.6rem;
      }
    }
  }

 
  @media (max-width: 460px) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
